.header
{
	height: 100vh;
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(srcu.jpg);
	background-size: 1920px 1080px;
	background-position: center;
	display: flex;
	justify-content: center;
	align-items:center;
	font-family:sans-serif ;
}
h1
{
	color: aliceblue;
	margin-bottom: 50px;
	font-size: 120px;
	letter-spacing: 10px;
}
.search-field
{
	height: 15px;
	padding: 10px;
	border: none;
	border-radius: 25px;
	outline: none;
}
.business
{
	width: 350px;
}
.search-sbt
{
	height: 35px;
	width: 100px;
	background: #ffffff;
	border: none;
	color: #000;
	border-radius: 25px;
}
label
{
	color: #FFFFFF;
}
.image
{
color: #FFFFFF;

}
.advanced
{
color: #FFFFFF;
}